%br
%br
%br
%hr
%br
%br
.jumbotron{style: "background-color: #f9f9f9;"}
  .department
    %h3 Seleccione los programas que usaran esta planilla
    %br
    .flex
      =t.collection_check_boxes :departments, Department.all.order("name ASC"), :id , :name,  { item_wrapper_tag: false } do |b|
        =b.label
        .squaredTwo
          =b.check_box(class:"filled-in")
          %label{for: "template_departments_#{b.value}"}
-# = t.association :departments, label: "", as: :check_boxes, collection: Department.order("name ASC"), :item_wrapper_class => 'switcher'

