.container
  .col-md-10
    %h2 Categorías
    =link_to  "Crear categoría", new_admin_category_path , class: "btn "
  .col-md-10
    %ul.collection#images
      - @categories.each do |category|
        %li.collection-item.avatar
          %i.material-icons.circle.blue-grey.lighten-1
            %i.fa.fa-clone
          %span.title
            =category.name
          %p
            Cantidad de cursos con esta categoría:
            = Course.where(category_id: category).count
          .secondary-content
            =link_to "Editar" , edit_admin_category_path(category), class: "btn light-blue lighten-2"
            =link_to "Eliminar" , admin_category_path(category), method: :delete,  class: "btn red lighten-1"
    =paginate @categories
