<script id="template-form" type="text/template">
  <li class="li-textarea-'+id_comment+' align-text">
     <div class="comment-main-level">
       <div class="comment-avatar" style="left: 97px">
         <img alt="">
       </div>
       <div class="comment-box">'
         <form id="comment-form"  accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" value="✓" type="hidden"><div class="row">
           <div class="input-field col s12 ">
             <div class="form-group text optional comment_course_body"><textarea class="form-control text optional text-area-comment " placeholder="Añade un comentario..." name="comment_course[body]" id="comment_course_body"></textarea></div>
                         "<br>"+
               <input name="commit" value="Comentar" class="btn grey lighten-3 black-text" data-disable-with="Comentar" type="submit">
             </div>
           </div>
       </form>
     </div>
   </div>
 </li>
</script>
