.center-input{
	width: 80% !important;
	margin: 0 auto !important;
}

.picker__frame{
	max-width: 400px !important;
	width: 400px !important;
}

.absolute{
	position: absolute;
}
.relative{
	position: relative !important;
}

.line-height-2-5{
	line-height: 2.5rem !important;
}

.padding-10{
	padding: 10px !important;
}

.input-field.col label{
	font-size: 1.2em !important;
}

.h4{
	font-size: 2.28rem;
}

.margin-0{
	margin: 0 !important;
}
.btn-floating{
	cursor: pointer !important;
}

.pointer{
	cursor: pointer !important;
}

.no-visible{
  visibility: hidden;
}

.break-word{
	word-break: break-all;
}
