.cursor-default {
    cursor: default !important;
}
.collapsible-grades{
  padding-bottom: 1rem !important;
  padding-top: 2rem !important;
}

.info-box-grades{
  font-size: 15px;
  width: 250px;
  margin: 0 auto;
  text-align: center !important;
}

.col-grades{
display: inline-block;
}

.fa-grades{
    line-height: 40px !important;
    font-size: 2.1em !important;
    margin-left: -20px !important;
    margin-right: -7px !important;
}

.span-info-box{
  margin-left: 35px;
  text-transform: none !important;
}

.btn-grade {
  width: 70px !important;
  height: 70px !important;
  line-height: 70px !important;
  font-size: 20px !important;

}
