.chartWrapper {
    position: relative;

}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0; 
}
.chartAreaWrapper {
    overflow-x: scroll;
    position: relative;
    width: 100%;
}

.chartAreaWrapper2 {

    position: relative;
    height: 300px;
    width: 100%;
}
