.container
  - if !@talents_info.empty?
    .row.flex
      .col.s12.m8.center-margin
        %ul.collection
          - @talents_info.each do |talent,do_test|
            %li.collection-item.avatar
              - if talent.photo_file_name.nil?
                -if talent.is_at_least_medium_admin?
                  %img.circle{src: "/image-profile-admin.png",id: "user-#{talent.id}"}
                -else
                  %img.circle{src: "/image-profile-user.png",id: "user-#{talent.id}"}
              -else
                %img.circle{src: "#{talent.photo.url(:small)}",id: "user-#{talent.id}"}

              %span.title
                =talent.email
              %p
                =talent.name
                %br
                %small.position=talent.position

              .secondary-content
                =link_to "Corregir", course_section_test_result_path(@course,@section,@test,do_test,show: true,disabled: true) , class: "btn green darken-2"
  - else
    .align-text
      %h5 No hay talentos sin corregir.
