#ModalAcercaDe.modal{:style => "width: 600px; height: 300px;"}
	.modal-content
		%h4.center Acerca del sistema:
		%big
			Academia Leiros v.1.0
			%br
			Herramientas de implementación:
			%ul
				%li - postgres 2.27.1
				%li - ruby 2.4.0
				%li - rails 5.0.2
			%p.align-text
				Grupo Leiros. J-06504883-2
			%p.align-text
				Universidad de Margarita
			%p.align-text
				Proyecto de pasantías elaborado por: Diego Molina y Javier Cestau
			%p.align-text{style: "margin-top: 12px;"}
				Derechos reservados. Copyright 2017
				%i.fa.fa-copyright

	.modal-footer
		%a.modal-action.modal-close.waves-effect.waves-green.btn Cerrar
